
@mixin slope($top, $bottom, $type:up) {
  @if $type == down {
    background: linear-gradient(to left bottom, $top 50%, $bottom 50%);
  } @else {
    background: linear-gradient(to right bottom, $top 50%, $bottom 50%);
  }
}

@mixin slantHome($top, $bottom, $type:up) {
  @if $type == down {
    background: linear-gradient(to left bottom, $top 50%, $bottom 50%);
  } @else {
    background: linear-gradient(to right bottom, $top 50%, $bottom 50%);
  }
}

@mixin flexStyle($dis:flex, $dir:null, $wrap:null, $just:null, $align:center, $flex:null) {
  display: $dis;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  align-items: $align;
  flex: $flex;
}

@mixin shadow($color) {
  // h-offset v-offset blur spread color
  box-shadow: 5px 5px 5px $color;
}
