$num-sections: 5;

// Colors
$color-font: #023183;
$color-base: #F2C407;
$color-complement: #4db4d7;

$color-light-0: #fff;
$color-light-1: #faf8f5;
$color-light-2: #FDF8E3;
$color-light-3: #fff;
$color-light-4: lighten($color-base, 18%);
$color-light-5: lighten($color-base, 8%);;

// Fonts
$font-logo: 'Habibi', sans-serif;
$font-title: 'Pavanam', sans-serif;
$font-content: 'Rubik', sans-serif;
$font-section-title: 'Nunito', sans-serif;

// Layout
$slope-height: 150px;
$section-height: 75vh;

// min-widths
$xtra-lrg-screen: 1300px;
$lrg-screen: 960px;

// max-widths
$md-screen: 768px;
$sm-screen: 620px;
$xsm-screen: 499px;
