.slope {
	width: 100%;
	height: $slope-height;
}

.slope--1 {
	@include slope($color-light-0, $color-light-1, up);
}

.slope--2 {
	@include slope($color-light-1, $color-light-2, down);
}

.slope--3 {
	@include slope($color-light-2, $color-light-3, up);
}

.slope--4 {
	@include slope($color-light-3, $color-light-4, down);
}

.slope--5 {
	@include slope($color-light-3, $color-light-5, up);
}
// footer slope
.slope--6 {
	@include slope($color-light-5, $color-light-2, down);
}
section {
	position: relative;
	width: 100%;
	min-height: $section-height;
	display: flex;
	justify-content: center;
	align-content: center;
}

.section--1 {
	background-color: $color-light-1;
}

.section--2 {
	background-color: $color-light-0;
}

.section--3 {
	background-color: $color-light-1;
}

// .section--4 {
// 	background-color: $color-light-3;
// }

.section--5 {
	background-color: $color-light-0;
}

.section__body {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	@include flexStyle(
		$dir: row,
		$wrap: wrap,
		$just: center,
		$align: center,
		$flex: 1
	);
	@media (max-width: $md-screen) {
		flex-direction: column-reverse;
	}
}

.section__title {
	position: absolute;
	font-family: $font-section-title;
	color: $color-font;
	font-size: 2rem;
	text-transform: uppercase;
	@media (max-width: $md-screen) {
		font-size: 1.75rem;
	}
	@media (max-width: $sm-screen) {
		font-size: 1.5rem;
	}
	@media (max-width: $xsm-screen) {
		font-size: 1.25rem;
	}
}

.section__title--left {
	top: 50%;
	left: 8%;
	writing-mode: tb-rl;
	transform: translate(-50%, -50%) rotate(180deg);
}

.section__title--right {
	top: 50%;
	right: 8%;
	writing-mode: tb-rl;
	transform: translate(50%, -50%);
}

body {
	width: 100vw;
}
